body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: rgb(34, 34, 34);
    background-color: rgb(185, 166, 222);
}

.nav_list {
    background-color: rgb(185, 166, 222);
    width: 100%;
    overflow: hidden;
    padding-left: 10%;
    padding-top: 30px;
}
  
.nav_list .nav_item {
    float: left;
    text-align: center;
    padding: 14px 20px;
    color: black;
    text-decoration: none;
    font-size: 17px;
}

.nav_list i {
    padding-left: 15px;
    font-size: 30px;
    vertical-align: middle;
}

.nav_list #blogSearch {
    text-align: left;
}

.nav_list #theme {
    float: right;
    padding-right: 20%;
}