body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: azure;
    /* background-color: rgb(185, 166, 222); */
    background: rgb(42,24,83);
    background: linear-gradient(90deg, rgba(42,24,83,1) 0%, rgba(115,93,165,1) 50%, rgba(214,203,238,1) 100%);
}

.nav_list {
    width: 100%;
    overflow: hidden;
    padding-left: 10%;
    padding-top: 30px;
}
  
.nav_list .nav_item {
    float: left;
    text-align: center;
    padding: 14px 20px;
    color: azure;
    text-decoration: none;
    font-size: 17px;
}

.nav_list i {
    padding-left: 15px;
    font-size: 30px;
    vertical-align: middle;
}

.nav_list #blogSearch {
    text-align: left;
}

#aboutHeader {
    text-align: center;
}

a {
    color: azure;
}

.a {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
}

.a .left_items {
    text-align: left;
}

.a .right_items {
    text-align: right;
    color: rgb(42,24,83);
}

.a #a_head {
    font-size: 2em;
    width: 35%;
}

.a #a_desc {
    font-size: 25px;
    width: 35%;
}