@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
}

body {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: rgb(34, 34, 34);
    background-color: rgb(185, 166, 222);
    animation-name: fadeIn;
    animation-duration: 5s;
}

.nav_list {
    background-color: rgb(185, 166, 222);
    width: 100%;
    overflow: hidden;
    padding-left: 40px;
    padding-top: 20px;
}
  
.nav_list .nav_item {
    float: left;
    text-align: center;
    padding: 14px 20px;
    color: black;
    text-decoration: none;
    font-size: 17px;
}

.nav_list i {
    padding-left: 15px;
    font-size: 30px;
    vertical-align: middle;
}

.nav_list #theme {
    float: right;
    padding-right: 5%;
}

.f {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 30px;
}

.f #featuredTitle {
    flex: 1;
    text-align: left;
    font-size: 4em;
}

/* .f #featured {
    padding-left: 7%;
} */

.titles {
    font-size: xx-large;
    text-align: left;
    padding-left: 60px;
}

.btnBlogs {
    display: flex;
    justify-content: center;
    align-items: center;
}

.btnBlogs button {
    color: black;
    text-align: center;
    font-size: 15px;
    width: 350px;
    height: 250px;
    display: inline-block;
    border: 5px solid white;
    border-radius: 20px;
    margin: 10px;
}

@media screen and (max-width: 700px) {
    .nav_list #blogSearch {
        width: 40%;
    }

    .btnBlogs {
        display: block; /* Stacks elements vertically */
        padding: 0 10px; /* Adds padding to the sides for mobile */
    }
    
    .btnBlogs button {
        width: 100%; /* Full width on mobile */
        margin: 10px 0; /* Margin for vertical spacing */
    }
}