@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
}

body {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: black;
    background-color: rgb(185, 166, 222);
    animation-name: fadeIn;
    animation-duration: 5s;
}

.nav_list {
    background-color: rgb(185, 166, 222);
    width: 100%;
    position: fixed;
    overflow: hidden;
    padding-left: 40px;
    padding-top: 20px;
}
  
.nav_list a {
    float: left;
    text-align: center;
    padding: 14px 16px;
    color: black;
    text-decoration: none;
    font-size: 17px;
}

.nav_list #blogSearch {
    float: left;
    text-align: left;
    padding: 14px 16px;
    color: black;
    text-decoration: none;
    font-size: 17px;
}

#featuredTitle {
    text-align: center;
    color: black;
    font-size: 35px;
}

.titles {
    font-size: xx-large;
    text-align: left;
    padding-left: 60px;
}

.btnBlogs {
    display: flex;
    justify-content: center;
    align-items: center;
}

.btnBlogs button {
    color: black;
    text-align: center;
    font-size: 15px;
    width: 350px;
    height: 250px;
    display: inline-block;
    border: 5px solid white;
    border-radius: 20px;
    margin: 10px;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}
  
  .switch input { 
    opacity: 0;
    width: 0;
    height: 0;
}
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}
  
  input:checked + .slider {
    background-color: #2196F3;
}
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
}
  
  .slider.round:before {
    border-radius: 50%;
}

@media screen and (max-width: 700px) {
    .nav_list #blogSearch {
        width: 40%;
    }

    .btnBlogs {
        display: block; /* Stacks elements vertically */
        padding: 0 10px; /* Adds padding to the sides for mobile */
    }
    
    .btnBlogs button {
        width: 100%; /* Full width on mobile */
        margin: 10px 0; /* Margin for vertical spacing */
    }
}