body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: azure;
    /* background-color: rgb(185, 166, 222); */
    background: rgb(214,203,238);
    background: linear-gradient(180deg, rgba(214,203,238,1) 0%, rgba(105,83,154,1) 100%);
}

.nav_list {
    width: 100%;
    overflow: hidden;
    padding-left: 10%;
    padding-top: 30px;
}
  
.nav_list .nav_item {
    float: left;
    text-align: center;
    padding: 14px 20px;
    color: black;
    text-decoration: none;
    font-size: 17px;
}

.nav_list i {
    color: black;
    padding-left: 15px;
    font-size: 30px;
    vertical-align: middle;
}

.nav_list #blogSearch {
    text-align: left;
}

.f {
    display: flex;
    align-items: center;
    justify-content: center;
}

.f #featuredTitle {
    color: black;
    text-align: left;
    font-size: 4em;
    padding-right: 7%;
}

.titles {
    font-size: xx-large;
    text-align: left;
    padding-left: 20%;
}

.btnBlogs {
    display: flex;
    justify-content: center;
    align-items: center;
}

.btnBlogs button {
    color: black;
    text-align: center;
    font-size: 15px;
    width: 350px;
    height: 250px;
    display: inline-block;
    border: 5px solid white;
    border-radius: 20px;
    margin: 10px;
}

.desc {
    padding-left: 20%;
    margin-right: 20%;
}

@media screen and (max-width: 700px) {
    .nav_list #blogSearch {
        width: 40%;
    }

    .f #featuredTitle {
        text-align: center;
    }

    .f .featured {
        text-align: center;
        width: 90%;
    }

    .btnBlogs {
        display: block; /* Stacks elements vertically */
        padding: 0 10px; /* Adds padding to the sides for mobile */
    }
    
    .btnBlogs button {
        width: 100%; /* Full width on mobile */
        margin: 10px 0; /* Margin for vertical spacing */
    }
}