body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: azure;
    /* background-color: rgb(185, 166, 222); */
    background: rgb(42,24,83);
    background: linear-gradient(90deg, rgba(42,24,83,1) 0%, rgba(115,93,165,1) 50%, rgba(214,203,238,1) 100%);
}

.nav_list {
    width: 100%;
    overflow: hidden;
    padding-left: 10%;
    padding-top: 30px;
}
  
.nav_list .nav_item {
    float: left;
    text-align: center;
    padding: 14px 20px;
    color: azure;
    text-decoration: none;
    font-size: 17px;
}

.nav_list i {
    padding-left: 15px;
    font-size: 30px;
    vertical-align: middle;
}

.nav_list #blogSearch {
    text-align: left;
}

#title {
    font-size: 3em;
    margin-left: 20%;
    margin-right: 20%;
}

.blogInfo {
    color: azure;
    background-color: rgb(143, 102, 201);
}

#speakArticle {
    font-size: 1.5em;
    border-radius: 20px;
    width: 30%;
}

#stopReading {
    font-size: 1.5em;
    border-radius: 20px;
    width: 30%;
}

.blog {
    text-align: left;
    padding-left: 30%;
    padding-right: 30%;
    font-size: large;
    color: azure;
}

#posted {
    padding-left: 30%;
}

@media screen and (max-width: 800px) {
    h2 {
		font-size: 200%;	
	}

    .blog {
        padding-left: 5%;
        padding-right: 5%;
        font-size: 15px;
    }

    .blogInfo {
        height: 30%;
    }

    .nav_list {
        background-color: rgba(0, 0, 0, 0);
    }

    .nav_list #blogSearch {
        width: 40%;
    }

    #image {
        width: 80%;
        height: 200px;
    }
}